@*@model CategoryVM

@if(TempData["error"] is not null)
{
    <div class="alert alert-dismissible alert-danger mt-3" style="width:400px">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @TempData["error"]
    </div>
}

<h2 class="text-ligth mt-3">New Category</h2>

<form asp-controller="category" asp-action="create" method="post">
    <fieldset>
        <div class="form-group">
            <label asp-for="Name" class="form-label mt-4">@Html.DisplayNameFor(x=>x.Name)</label>
            <input asp-for="Name" class="form-control"placeholder="Enter Category Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div> 

        <div class="form-group">
            <label asp-for="Description" class="form-label mt-4">@Html.DisplayNameFor(x=>x.Description)</label>
            <textarea asp-for="Description" class="form-control" style="height:100px" placeholder="Enter Category Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

    <button type="submit" class="btn btn-primary mt-3">Create The Category</button>
    </fieldset>
</form>
<a class="btn btn-primary mt-3" asp-controller="category" asp-action="index">Back To List</a>*@
