@model Category

<h2 class="text-ligth mt-3">Delete Category</h2>

<form asp-controller="category" asp-action="delete" method="post">
    <fieldset>
        <input asp-for="Id" type="hidden" />
        <div class="form-group">
            <label asp-for="Id" class="form-label mt-4">@Html.DisplayNameFor(x=>x.Id)</label>
            <input asp-for="Id" class="form-control" disabled>
        </div>

        <div class="form-group">
            <label asp-for="Name" class="form-label mt-4">@Html.DisplayNameFor(x=>x.Name)</label>
            <input asp-for="Name" class="form-control" disabled>
        </div>

        <div class="form-group">
            <label asp-for="Description" class="form-label mt-4">@Html.DisplayNameFor(x=>x.Description)</label>
            <textarea asp-for="Description" class="form-control" style="height:100px" disabled></textarea>
        </div>

        <button type="submit" class="btn btn-danger mt-3">Delete The Category</button>
    </fieldset>
</form>
<a class="btn btn-primary mt-3" asp-controller="category" asp-action="index">Back To List</a>
