@*@model CategoryVM

<h2 class="text-ligth mt-3">Update Category</h2>

<form asp-controller="category" asp-action="edit" method="post">
    <fieldset>
        <input asp-for="Id" type="hidden" />
        <input asp-for="Name" type="hidden" />
        <div class="form-group">
            <label asp-for="Id" class="form-label mt-4">@Html.DisplayNameFor(x=>x.Id)</label>
            <input asp-for="Id" class="form-control" disabled>
        </div>

        <div class="form-group">
            <label asp-for="Name" class="form-label mt-4">@Html.DisplayNameFor(x=>x.Name)</label>
            <input asp-for="Name" class="form-control" disabled>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description" class="form-label mt-4">@Html.DisplayNameFor(x=>x.Description)</label>
            <textarea asp-for="Description" class="form-control" style="height:100px" placeholder="Enter Category Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-info mt-3">Update The Category</button>
    </fieldset>
</form>
<a class="btn btn-primary mt-3" asp-controller="category" asp-action="index">Back To List</a>
*@